
    <div class="wrapper_with_padding">
        <div class="clearfix" id="notes">
        <%unless @notebooks.blank? %>
        <h4>Here are <%= @possessive %> current Notebooks today:  </h4>
         <% @notebooks.each do |notebook| %>
            <div class="note">
                <p class="title">   
                
    	           <%=link_to notebook.title, notebook_path(notebook)%>
    	    		 </p>	
				
					 
      				 <%=link_to "Edit", edit_notebook_path(notebook)  %>
               <p class= "delete">
      				 <%= link_to "Delete", notebook_path(notebook), method: :delete, data: { confirm: "Are you sure?" } %>
               </p>
      			</div>
      	<%end%>
        <%else%>
    <h2>Add a Notebook!</h2>
    <p>It appears you haven't created any notes yet... Lets fix that. Why don't you go ahead and create a new note.</p>
    <button>
      <%= link_to "New Notebook", new_notebook_path %>
    </button>
    <% end %>

    </div>