<div class="wrapper_with_padding">
	<div id="notebook_show">
		<h1><%=@notebook.title%></h1>
			<p><%= simple_format(@notebook.content)%></p>

			<div class= "buttons">
			<%= link_to "Save", 
			<%= link_to "Edit", edit_note_path(@note), class: "button" %>
			<%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
