
<div class="wrapper_with_padding">
  <h2><b><%=@notebook.notebook_title%></b></h2>

  <div class="clearfix" id="notes">
    <%unless @notebook.notes.blank? %>

    <% @notebook.notes.each do |note|  %>
    <div class="note" data-toggle="modal" data-target="#myModal" data-id ="<%=note.id%>">
    <p class="title">   
      <%= note.note_title %>
    </p>
    <p class= "delete">
      <%= link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
        <%end%>
    
    <%else%>
    <h2>Add a Note!</h2>
    <p>It appears you haven't created any notes yet... Lets fix that. Why don't you go ahead and create a new note.</p>
    <% end %>
  </div>
    <hr><%=link_to "Create New Note", new_notebook_note_path(@notebook), class: "button" %>
</div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
    
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>

  