<!-- <h3>f.label "Note:" @notebook.notebook_title </h3>
-->



<!-- 
f.label 'Choose a Notebook or Create a New One' %>
f.collection_select(:notebook_id, current_user.notebooks.order('notebook_title ASC'), :id, :notebook_title, {include_blank: true})%>
<br> -->
<!-- 
 f.fields_for :notebooks do |p|
 p.label :notebook_title
 p.text_field :notebook_attributes
end -->

<%= f.label :note_title %><br>
<%= f.text_field :note_title, placeholder: 'Note Title Here' %><br>



<%= f.label :note_content %>
<%= f.text_area :note_content, placeholder:
' SUMMARY
- Monica will be doing PR for desktop products
- Launch date 5/1/16
- Marketing press release goes out 4/30
'%>

<%= f.hidden_field :notebook_id, value: @notebook.id %>


<%= f.button :submit, class: "button" %>






