
<%= simple_form_for @note do |f| %>
	

	
  <%= f.input :title, placeholder: 'Ex: Weekly team update' %> 

  <p>   
  <%= f.collection_select(:notebook_id, @notebooks.order('title ASC'), :id, :title)%>
  <%= f.input :notebook, :label => 'Choose a notebook', placeholder: 'New Notebook' %>
  </p>

  <%= f.input :content, placeholder:

  			 'AGENDA

- Introducing Monica, new marketing manager
- Strategy for next launch

SUMMARY

- Monica will be doing PR for desktop products
- Launch date 5/1/16
    - Marketing press release goes out 4/30
'%>
  			<%= f.button :submit, class: "button" %>
		<% end %>

		= f.input :entity_name, input_html: { name: 'entity[name]' } 