<div class="wrapper_with_padding">
<h1> Edit Note</h1>
	<%= form_for @note do |f| %>
  <%= f.label :title %> 
  
  <%=f.label "Choose a notebook"%>
  <%= f.collection_select(:notebook_id, Notebook.all.order('title ASC'), :id, :title, {include_blank: false})%>

  <%= f.text_field :content%>
      
        <%= f.submit %>
    <% end %>
</div>