<div class="wrapper_with_padding">
  <div id="note_show">


  		<%unless @notes.blank? %>
  		<% @notes.each do |note| %>
    <h1><%=note.title%></h1>
      <p><%= note.content%></p>


      <div class= "buttons">
      <%= link_to "Done", new_note_path, class: "button" %>
      <%= link_to "Edit", edit_note_path(note), class: "button" %>

      <%= link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>

      <%end%>
      <%else%>
    <h2>Add a Note!</h2>
    <p>It appears you haven't created any notes yet... Lets fix that. Why don't you go ahead and create a new note.</p>
    <button>
      <%= link_to "New Note", new_note_path %>
    </button>
    <% end %>


</div>

