<div class="wrapper_with_padding">
  <div id="note_show">
   <h1><%=@note.note_title%></h1> 
      <p><%= @note.note_content%></p>

<div class= "buttons">
      <%= button_tag 'Previous Note', class: 'js-prev', data: {id: @note.id} %>
      <%= link_to "Done", new_note_path, class: "button" %>
      <%= link_to "Edit", edit_note_path(@note), class: "button" %>
      <%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
      <%= button_tag 'Next Note', class: 'js-next', data: {id: @note.id} %>
    </div>
  </div>
<hr>
 
   <h2 id="status-list">Comments</h2>

     <%= form_for(@comment) do |f| %>
        <%= f.text_field :content %>
        <%= f.hidden_field :note_id, :value => @note.id %>
        <%= f.submit "comment here" %>
      <% end %>

<div>
    <ol id= "comments_list"> <% @note.comments.each do |comment| %>
          <hr> 

          <li><%= comment.content %></li>
          
        <%end%>
    </ol>
</div>


