<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>DOT.NOTE | Online Notebook Application</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  
  <header>
    <div class="header_inner">
      <%= link_to image_tag( 'logo.jpg'), root_path, id: "logo" %>
      <nav>    

        <% if user_signed_in? %>

          </ul><h4>
          <%= link_to "Welcome, #{current_user.email}", user_path(current_user) %>
          <%= link_to "Notebooks", notebooks_path %>
          <%= link_to "Notes", notes_path %>
          <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to "Log In", new_user_session_path %></h4>
          <% end %>
        </nav>
      </div>
    </header>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <div id="app-container">
    
    <%= yield %>
    </div>
  </body>
  </html>



