<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <head>
    <title>DOT.NOTE| Online Notebook Application</title>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      
      <%= csrf_meta_tags %>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <%= link_to image_tag( 'logo.jpg'), root_path, id: "logo" %>
        <nav>    
         


        <!-- what I wanted the jquery be used on-->



          <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"style="width:200px;color: #f5f5f5;background-color: #2B2E2E ;">
            
            <span class="caret"></span> 
            
            <%= link_to @notebooks.first.title %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:200px;background-color: #2B2E2E">
          <a href="#" class="" data-value=2><h4> <%= link_to "Create Notebook", new_notebook_path %></a></h4>
            <li class="divider"></li>
          <% @notebooks.each do |notebook| %>
            <li><a href="#" data-value=3><h4> <%= link_to notebook.title, note_path(@notes) %></h4> </a></li>
            <% end %>
          
          </ul>
        

<script>
$(".dropdown-menu li a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>
       <% if user_signed_in? %>
        <%= link_to "New Note", new_note_path %>
        <%= link_to "Profile", user_path(current_user) %>
        <%= link_to('Edit Your Profile', edit_user_path(current_user)) %>
        <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
         <% else %>
          <%= link_to "Log In", new_user_session_path %>
        <% end %>
      </nav>
      </div>
  </header>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <%= yield %>
</body>
</html>



